fastapi
uvicorn
pydantic
pydantic-settings
pytest
pytest-asyncio
pyyaml
yapf
numpy
pandas
seaborn
matplotlib
scikit-learn
scipy
xgboost
lightgbm
mlxtend
sqlmodel
bcrypt
mypy
category_encoders
skfeature-chappers